# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Node
frontend/node_modules/

# Build files
build/
dist/

# Python cache
.pytest_cache/